<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd//hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- Specify custom encrypted config connection provider class. -->
    	<property name="hibernate.connection.provider_class">net.lizalab.util.jasypt.h4.ext.connectionprovider.EncryptedDriverManagerConnectionProviderImpl</property>
    	<!-- Specify name encryptor instance will be registered under. -->
    	<property name="hibernate.connection.encryptor_registered_name">configHibernateEncrypter</property>
 		 
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:target/data/test42xdb;shutdown=true</property>
        <property name="hibernate.connection.username">TESTUSER</property>
        <property name="hibernate.connection.password">ENC(05E8878D8EACD8B63F1E4AEC09649BAE7E9ED3093A8A4998)</property>
        <property name="hibernate.connection.schema">TEST</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        
        <!-- Use the built-in connection pooling. -->
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- Enable Hibernate's automatic session context management. -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        
        <!-- Disable second level cache. -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        
        <!-- Disable batching so HSQLDB will propagate errors correctly. -->
        <property name="hibernate.jdbc.batch_size">0</property>
        
        <mapping class="net.lizalab.util.jasypt.h4.ext.connectionprovider.TestEntity" />
    </session-factory>
</hibernate-configuration>